<footer>
    <section class="top-footer">
        <aside>
            <h3>Product</h3>
            <!-- <p>Univacity</p> -->
            <p>Univisa</p>
            <p>Uniflight</p>
            <p>Unishop</p>
        </aside>
        <aside>
            <h3>Resources</h3>
            <p>Blog</p>
            <p>Help Center</p>
            <p>Pricing</p>
        </aside>
        <aside>
            <h3>Company</h3>
            <p>About</p>
            <p>Subscribe</p>
            <p>Contact us</p>
            <p>Careers</p>
            <p>Media Kit</p>
        </aside>
        <aside>
            <h3>Contact</h3>
            <!-- <p>+236 251 881 9917</p> -->
            <p>hello&#64;sunivacity.com</p>
        </aside>
    </section>
    <section class="social">
        <aside>
            <p>United States</p>
            <div class="flex">
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Twitter</p>
                <p>LinkedIn</p>
            </div>
        </aside>
    </section>
    <section class="social">
        <aside>
            <div class="flex">
                <img src="../../../assets/usa.svg" alt="">
                <p>© Univacity. All right reserved.</p>
                <img src="../../../assets/arrow-down.svg" alt="">
            </div>
            <div class="flex">
                <p>Terms of Service</p>
                <p>Cookie Policy</p>
                <p>Privacy Policy</p>
            </div>
        </aside>
    </section>
</footer>