<header>
    <nav>
        <div class="flex-div">
            <!-- <h1>Logo</h1> -->
            <img src="../../../assets/logo.svg" alt="univacity-logo">
            <div class="link">
                <div>
                    <p>Products</p>
                    <img src="../../../assets/arrow-down.svg" alt="univacity-logo">
                </div>
                <div>
                    <p>Solutions</p>
                <img src="../../../assets/arrow-down.svg" alt="univacity-logo">
                </div>
                <div>
                    <p>Resources</p>
                   <img src="../../../assets/arrow-down.svg" alt="univacity-logo">
                </div>
                <div>
                    <p>Our Comapany</p>
                    <img src="../../../assets/arrow-down.svg" alt="univacity-logo">
                </div>
            </div>
        </div>
        <div class="flex-div">
            <img class="img" src="../../../assets/search-icon.svg" alt="univacity-logo">
            <img class="img" src="../../../assets/notification.svg" alt="univacity-logo">
            <div>
                <img src="../../../assets/profile.svg" alt="univacity-logo">
                <img src="../../../assets/arrow-down.svg" alt="univacity-logo">
            </div>
        </div>
        <div class="ham">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
    <section>
        <aside class="sub-nav">
            <div>
                <p>Dashboard</p>
            </div>
            <div>
                <p>Dashboard</p>
            </div>
            <div>
                <p>Dashboard</p>
            </div>
            <!-- <div>
                <p>Dashboard</p>
            </div> -->
        </aside>
    </section>
</header>

