<main>

    <!-- =================== Course Detail ================== -->
    <section class="program-header">
        <div class="details">
            <aside class="course-info">
                <div class="flex">
                    <p>United States</p>
                    <p>Havard</p>
                    <p>Design</p>
                </div>
                <h3>Experiencing Design: Deepening Your Design Thinking Practice</h3>
                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit pel</p>
                <div class="flex">
                    <!-- <div> -->
                        <img src="../../../assets/heart.svg" alt="">
                        <p>Deadline: <span>20th of December 2023</span></p>
                    <!-- </div> -->
                </div>
                <div class="switch-grid details-footer">
                    <div class="flex">
                        <button>Apply now</button>
                        <div >
                            <img class="fav" src="../../../assets/heart.svg" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <p>Share Program</p>
                        <div class="flex">
                            <div>
                                <img src="../../../assets/heart.svg" alt="">
                            </div>
                            <div>
                                <img src="../../../assets/heart.svg" alt="">
                            </div>
                            <div>
                                <img src="../../../assets/heart.svg" alt="">
                            </div>
                            <div>
                                <img src="../../../assets/heart.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <aside>
                <img class="course-img" src="../../../assets/course.jpeg" alt="course-img">
            </aside>
        </div>

        <div class="views flex">
            <!-- <div > -->
                <div class="flex">
                    <img src="../../../assets/heart.svg" alt="">
                    <p>Views: <span>8,000</span></p>
                </div>
                <div class="flex">
                    <img src="../../../assets/heart.svg" alt="">
                    <p>Views: <span>8,000</span></p>
                </div>
        </div>
        <div class="duration flex">
            <div>
                <p>Duration</p>
                <p>5 years</p>
            </div>
            <div>
                <p>Duration</p>
                <p>5 years</p>
            </div>
            <div>
                <p>Duration</p>
                <p>5 years</p>
            </div>
            <div>
                <p>Duration</p>
                <p>5 years</p>
            </div>
            <div>
                <p>Duration</p>
                <p>5 years</p>
            </div>
            <!-- </div> -->
        </div>
    </section>

    <!-- ================== Overview ================== -->
     <div>
         <section class="overview-nav">
            <aside>
                <div class="flex">
                    <p>Overview</p>
                    <p>Overview</p>
                    <p>Overview</p>
                    <p>Overview</p>
                </div>
                <button>Apply Now</button>
            </aside>
         </section>
    
         <section class="overview-body">
            <aside>
                <div>
                    <h3>Overview</h3>
                    <p>The program has been developed within the framework of joint education and training scheme and will be conducted in collaboration with Eastern Mediterranean University (EMU) Faculty of Medicine and Iran University of Medical Sciences (IUMS). The program has been envisioned upon common mission of providing state of art education in Medicine with utmost international exposure.</p>
    
                    <p>The MD program is 7 years where the Pre-clinical Phase (1-3 years) will be conducted by EMU in north Cyprus and the clinical phases (4-7 years including summer school terms) will be conducted by IUMS in Tehran, Iran.
                    Students who complete their pre-clinical phase will be offered 50% scholarship during the clinical phase of their education at IUMS. Pre-clinical phase of medical training will take place at EMU and its affiliated public hospitals - including the biggest state hospital Burhan Nalbantoğlu State Hospital -serving all districts in north Cyprus. During the pre-clinical studies, the medical students will have the opportunity to learn Farsi as this will be crucial in patient-doctor communication during the clinical phase. Clinical phase of the medical training will take place in 17 hospitals affiliated with IUMS including specialized hospitals such as Shahid Fahmideh Pediatrics Hospital (est. 1952) serving over 87000 patients annually and houses 29 research centers such as Gastro intestinal and Liver Diseases Research Center. The diplomas which shall bear the titles of both Universities.</p>
                        
                    <p>The joint program aims to bring together education, research and patient care offering the students opportunity to be part of cutting-edge medical research. The joint curriculum integrates basic science education and clinical instruction with community-based learning. Education in medical history, ethics, even literature informs and expands the learning experience. Throughout the curriculum, the emphasis is on small-group and seminar learning is emphasized. Students engage face-to-face, work shoulder-to-shoulder with leading physicians, scientists and medical educators.
                    Please follow this link for admission enquiries and for admission requirements to the joint Medical Doctor degree program</p>
                </div>
                <div>
                    <h3>Requirements</h3>
                    <p>The program has been developed within the framework of joint education and training scheme and will be conducted in collaboration with Eastern Mediterranean University (EMU) Faculty of Medicine and Iran University of Medical Sciences (IUMS). The program has been envisioned upon common mission of providing state of art education in Medicine with utmost international exposure.</p>

                    <p>The MD program is 7 years where the Pre-clinical Phase (1-3 years) will be conducted by EMU in north Cyprus and the clinical phases (4-7 years including summer school terms) will be conducted by IUMS in Tehran, Iran.
                    Students who complete their pre-clinical phase will be offered 50% scholarship during the clinical phase of their education at IUMS. Pre-clinical phase of medical training will </p>
                </div>
                <div>
                    <h3>Structure</h3>
                    <p>The program has been developed within the framework of joint education and training scheme and will be conducted in collaboration with Eastern Mediterranean University (EMU) Faculty of Medicine and Iran University of Medical Sciences (IUMS). The program has been envisioned upon common mission of providing state of art education in Medicine with utmost international exposure.</p>

                    <p>The MD program is 7 years where the Pre-clinical Phase (1-3 years) will be conducted by EMU in north Cyprus and the clinical phases (4-7 years including summer school terms) will be conducted by IUMS in Tehran, Iran.
                    Students who complete their pre-clinical phase will be offered 50% scholarship during the clinical phase of their education at IUMS. Pre-clinical phase of medical training will </p>
                </div>
                <div>
                    <h3>Fees</h3>
                    <p>The program has been developed within the framework of joint education and training scheme and will be conducted in collaboration with Eastern Mediterranean University (EMU) Faculty of Medicine and Iran University of Medical Sciences (IUMS).</p>
                </div>
            </aside>
            <div>
                <aside class="fee">
                    <div>
                        @for(fee of fees; track fee;){
                            <div>
                                <img [src]="fee.img" alt="">
                                <div>
                                    <p>{{fee.name}}</p>
                                    <p>{{fee.moreInfo}}</p>
                                </div>
                            </div>
                        }
                       
                      
                        <div>
                            <button>Apply Now</button>
                            <button>View Fees</button>
                        </div>
                    </div>
                </aside>
            </div>
         </section>
     </div>


     <!-- ================== Other Information ==================== -->
     <section class="info">
        <div class="overview-body">
            <aside>
                <div>
                    <h3>Other Key Information</h3>
                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus.</p>
                </div>
                <div class="flex">
                    <button>Action button</button>
                    <p>Program website</p>
                </div>
                <div class="flex space">
                    <div>
                        <p>Degree</p>
                        <p>Country</p>
                        <p>Level</p>
                        <p>LeStudy language(s)</p>
                    </div>
                    <div>
                        <p>Degree</p>
                        <p>Country</p>
                        <p>Level</p>
                        <p>LeStudy language(s)</p>
                    </div>
                    <div>
                        <p>Degree</p>
                        <p>Country</p>
                        <p>Level</p>
                        <p>LeStudy language(s)</p>
                    </div>
                    <div>
                        <p>Degree</p>
                        <p>Country</p>
                        <p>Level</p>
                        <p>LeStudy language(s)</p>
                    </div>
                </div>
            </aside>
        </div>

     </section>
</main>